<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, 
  <title>Echo | Login</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
	<nav>
    <div class="nav-wrapper indigo darken-4">
      <a href="#!" class="brand-logo">Echo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li class="disabled"><a href="/list">User</a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li class="disabled"><a href="#!">User</a></li>
      </ul>
    </div>
  </nav>
  

  <div class="section"></div>
  <div class="section"></div>
  <div class="container">
    <h4 class="indigo-text">List of users who have been successfully login</h4>
  </div>
  <div class="section"></div>
  
  <div>
    <div class="container">
       <main>
    <center>
     <table class="centered striped">
        <thead>
          <tr>
              <th>Name</th>
              <th>Month Login (2017)</th>
              <th>Number of Login</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>January</td>
            <td>15</td>
          </tr>
          <tr>
            <td>Joshua</td>
            <td>July</td>
            <td>15</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>June</td>
            <td>9</td>
          </tr>
          <tr>
            <td>Jericho</td>
            <td>February</td>
            <td>69</td>
          </tr>
        </tbody>
      </table>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>
    </div>
  </div>
  <div class="section"></div>


  <!-- scirpt -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/JavaScript" src="js/style.js"></script>
</body>

</html>